.accordion{
    button{
        width: 100%;
        background-color: blueviolet;
        color: white;
        font-size: 50px;
    }
    p{
        text-align: center;
        font-size: 20px;
        display: none;
    }
} 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.slider{
    margin: 20px auto;
   border: 1px solid green;
   position: relative;
   width: 600px;
   height: 400px;
    
    img{
        width: 100%;
    }
    .next, .prev{
        background-color: white;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        border: 1px solid white;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        i{
            margin: 6px;
        }
    }
    .next{
        right: 20px;
    }
    .prev{
        left: 20px;
    }
}